body{
    margin: 0px;
    padding: 0px;
    background-color: #3a3a3a ; 
}
header{
    position: relative;
   display: flex;
   justify-content: center;

   align-items: center;
   text-align: center;
   color: white;
   margin: 0;
   padding: 20px;
   
    
   background-color: #121212;
   font-family: monospace;
   
  
}
header ul{

    
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
header h1{
    position: absolute;
    font-weight: bold;
    left: 20%;

    
}

header ul li{
    margin: 0 20px;
    
}
header ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;

   
}
header ul li a:hover{
    color: #00a7e1;
    transition: 0.3s;
}

footer{
    background-color: #1a1a1a ;
    width: 100%;
    color: white;
    font-family: monospace;
    display: flex;
}
footer p{
    padding-left:25% ;
}