body{
    margin: 0px;
    padding: 0px;
    background-color: #2e2e2e ; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header{
    position: relative;
   display: flex;
   justify-content: center;

   align-items: center;
   text-align: center;
   color: #e0e0e0;
   margin: 0;
   padding: 20px;
   
    
   background-color: #121212;
   font-family: monospace;
   
  
}
header ul{

    
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
header h1{
    position: absolute;
    font-weight: bold;
    left: 20%;
    

    
}

header ul li{
    margin-right:  40px;
    
}
header ul li a{
    text-decoration: none;
    color: #e0e0e0;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
}
header ul li a:hover{
    color: #32cd32;
    transition: 0.3s;
    text-shadow: 0 0 15px #32cd32,  2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid  #32cd32;
    padding-bottom: 4px;
    
    font-weight: 700;
}

footer{
    background-color: #1a1a1a ;
    width: 100%;
    color: white;
    font-family: monospace;
    display: flex;
}
footer p{
    padding-left:25% ;
    font-size: 15px;
}
.main{
    flex-grow: 1;
}
.isActive{
    color: #32cd32;
    transition: 0.3s;
    text-shadow: 0 0 15px #32cd32 ,  2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid  #32cd32;
    padding-bottom: 4px;
    font-weight: 700;
    
}
section{
    color: white;
    font-family: monospace;
}


